{{ define "main" }}
    <main>
        <article>
            <h1 class="page-title">
                {{ .Title }}
            </h1>
                <blockquote class="blog-post-content quotes">
                {{ .Content }}
                </blockquote>
                <h2>
                    {{ if .Params.link }}
                        <a href="{{ .Params.link }}">► {{ delimit .Params.Authors ", " }}: {{ .Params.source }} {{ if .Params.pDate }}({{ .Params.pDate }}){{ end }}</a>
                    {{ else }}
                        ► {{ .Params.source }}
                    {{ end }}    
                </h2>
                {{ template "_internal/disqus.html" . }}
            {{ partial "blog-taxonomy-info" . }}</p>
        </article>
    </main>
{{ end }}
