body {
    margin-bottom: 1em;
    font-size: 1.21em;
    background-color: #efefef;
}

main {
    background-color: unset;
}

body, p, em, a, li, blockquote {
    font-family: Averta CY,Helvetica Neue,Helvetica,Arial,Lucida Grande,FreeSerif,sans-serif;
}

a {
    font-weight: 500;
}

.myname {
    font-size: 2rem;
}

nav {
    font-size: 1.1rem;
}

@media (max-width: 42em) { 
    footer {
        display: none;
    }
    figure img { display: none; }
}
footer {
    background-color: #fff;    
}
footer span {
    padding-right: 1.5em;
}

.blog-post-summary {
    margin: 0;
}

.blog-post-summary a {
    all: unset;
    cursor: pointer;
}

.blog-post-title {
    font-size: 1em;
}

.archive-item {
    padding-bottom: 2em;
}

.quotes-post-summary a:hover {
    text-decoration: underline dotted;
}

.quotes-post-summary figure blockquote::before {
    content: open-quote;
    color: #939393;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.3em;
}

.quotes-post-summary figure blockquote::after {
    content: close-quote;
}

.quotes-post-summary figure blockquote {
    quotes: "“" "”" "‘" "’";
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    padding: 1em;
    margin: 1.5em 0;
}

figure { margin-left: 0; margin-right: 0; }

/* If there's support, erase the indent and use the property instead */
.quotes-post-summary @supports ( hanging-punctuation: first) {
figure blockquote {
      text-indent: 0;
      hanging-punctuation: first;
}
}

input, textarea {
    width: 100%;
    background-color: #fff;
}